
.header {
    margin-bottom: 25px;
    background: url(../img/header/restrauntPhoto.jpg) center top / cover no-repeat;
    // .header__content
    &__content {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0  15px;
    }
    // .header__logo
    &__logo {
        border-radius:5px;
        padding: 5px 15px;
        border: 1px solid white;
        color:white;
        cursor:pointer;
    }
    
}

