$mainColor: #996633;





@import "~bootstrap/scss/bootstrap";
@import "_nullStyle";
@import "_header";
@import "_footer";
@import "_menu-section";




[class*="__container"]{
    max-width: 560px;
    width: 100%;
    padding: 0 15px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 0 auto;
    background-color: $mainColor;
}


.main{
    flex: 1 1 auto;

    // .main__container
    &__container{
        margin:0 auto;
    }
     // .main__menu-sections
     &__menu-sections {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__search-form{
        margin-bottom: 15px;
    }
    &__search-input{
        background-color: $mainColor;
        border: 1px solid #fff;
        color: white;
        &::placeholder{
            color: white;
        }
       
    }
    &__searchBtn{
        color:white;
        border: 1px solid white;
        &:hover{
            background-color: #663300;
            border: 1px solid #663300;
        }
    }
}
.section-menu {
    display: block;
    height: 150px;
    width: 100%;
    background: url(../img/mainpage/menuSection/menuSection.jpeg) center/ cover no-repeat;
    border-radius: 5px;
    // .section-menu__body
    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // .section-menu__label
    &__label {
        color: white;
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
    }
}



